body {
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlaPEsO14sIXq88K5yp06vvHpDltvDNAz9sA&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
  
    background-size: cover;
   }